<div class="col-sm-7">
	<div>
		<div class="panel panel-default border-{{ card.faction_code }}">
			<div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }}">
				<h3 class="panel-title">
					{% include 'AppBundle:Search:card-name-with-link.html.twig' %}
				</h3>
  		</div>
			<div class="panel-body card-content">
				{% include 'AppBundle:Search:card-faction.html.twig' %}
				{% include 'AppBundle:Search:card-info.html.twig' %}
				{% if card.type_code == 'agenda' or card.type_code == 'act' %}
				{% include 'AppBundle:Search:card-flavor.html.twig' %}
				{% include 'AppBundle:Search:card-text.html.twig' %}
				{% else %}
				{% include 'AppBundle:Search:card-text.html.twig' %}
				{% include 'AppBundle:Search:card-flavor.html.twig' %}
				{% endif %}
				{% include 'AppBundle:Search:card-illustrator.html.twig' %}
				{% include 'AppBundle:Search:card-pack.html.twig' %}
			</div>
		</div>
	</div>
</div>
<div class="col-sm-5" style="margin-bottom:2em">
	<div>
		{% if card.imagesrc %}
		   <img src="{{ card.imagesrc }}" alt="{{ card.name }}" class="img-responsive" style="margin:auto">
		{% else %}
		   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
		{% endif %}
	</div>
</div>