{% import "AppBundle::macros.html.twig" as macros %}

{% if card.traits %}
<p class="card-traits">{{ card.traits }}</p>
{% endif %}

{% if card.type_code == 'asset' or card.type_code == 'event' or card.xp %}
<div class="card-props">
	{% if card.type_code == 'asset' or card.type_code == 'event'%}
	Cost: {{ macros.integer_or_x(card.cost) }}.
	{% endif %}
	{% if card.xp %}
	XP: {{ card.xp }}.
	{% endif %}
</div>
{% endif %}

{% if card.type_code == 'investigator' %}
<div class="card-props">
	Will: {{ macros.integer_or_x(card.will) }}.
	Lore: {{ macros.integer_or_x(card.lore) }}.
	Strength: {{ macros.integer_or_x(card.strength) }}.
	Agility: {{ macros.integer_or_x(card.agility) }}.
</div>
{% else %}
	{% if card.doom or card.clues %}
	<div>
	{% if card.doom %}<span title="Doom" class="icon icon-doom color-doom"></span>Doom: {{card.doom}}{% endif %}
	{% if card.clues %}<span title="Clues" class="icon icon-clues color-clues"></span>Clues: {{card.clues}} per investigator{% endif %}
	</div>
	{% endif %}
	{% if card.will or card.lore or card.strength or card.agility or card.wild %}
	<div>
	Test Icons:
	{% if card.will %}{% for i in 1..card.will %}<span title="Will" class="icon icon-will color-will"></span>{% endfor %}{% endif %}
	{% if card.lore %}{% for i in 1..card.lore %}<span title="Lore" class="icon icon-lore color-lore"></span>{% endfor %}{% endif %}
	{% if card.strength %}{% for i in 1..card.strength %}<span title="Strength" class="icon icon-strength color-strength"></span>{% endfor %}{% endif %}
	{% if card.agility %}{% for i in 1..card.agility %}<span title="Agility" class="icon icon-agility color-agility"></span>{% endfor %}{% endif %}
	{% if card.wild %}{% for i in 1..card.wild %}<span title="Wild" class="icon icon-wild color-wild"></span>{% endfor %}{% endif %}
	</div>
	{% endif %}
{% endif %}
{% if card.health or card.sanity%}
	<div>
	Health: {{ macros.integer_or_x(card.health) }}.
	Sanity: {{ macros.integer_or_x(card.sanity) }}.
	</div>
{% endif %}


