
<div class="col-sm-7">
	<div>
		<div class="panel panel-default border-{{ card.faction_code }} {% if card.faction2_code is defined %} border-dual {% endif %}">
			<div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }} {% if card.faction2_code is defined %} bg-dual border-dual{% endif %}">
				<h3 class="panel-title">
					{% include 'AppBundle:Search:card-name-with-link.html.twig' %}
				</h3>
  		</div>
			<div class="panel-body card-content">
				{% include 'AppBundle:Search:card-faction.html.twig' %}
				{% include 'AppBundle:Search:card-info.html.twig' %}
				{% if card.type_code == 'agenda' or card.type_code == 'act' %}
				{% include 'AppBundle:Search:card-flavor.html.twig' %}
				{% include 'AppBundle:Search:card-text.html.twig' %}
				{% else %}
				{% include 'AppBundle:Search:card-text.html.twig' %}
				{% include 'AppBundle:Search:card-flavor.html.twig' %}
				{% endif %}
				{% include 'AppBundle:Search:card-illustrator.html.twig' %}
				{% include 'AppBundle:Search:card-pack.html.twig' %}
				{% if taboos is defined %}
					{% if taboos[card.code] is defined %}
						{% set taboo = taboos[card.code] %}
						<hr />
						<h4>Latest Taboo</h4>
						{% if taboo.xp is defined %}
							<p>Costs {{taboo.xp}} additional experience.</p>
						{% endif %}
						{% if taboo.text is defined %}
							<p>{{taboo.text|raw}}</p>
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="col-sm-5" style="margin-bottom:2em">
	<div class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">
		{% if card.imagesrc %}
		   <img src="{{ card.imagesrc }}" alt="{{ card.name }}" class="img-responsive img-vertical-card" style="margin:auto">
		{% else %}
		   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
		{% endif %}
	</div>
</div>

{% block cardbackblock %} 
{% if card.linked_card is defined %}
{% set card = card.linked_card %}
{% include 'AppBundle:Search:card-front.html.twig' %}
{% endif %}
{% endblock %}