{% import "AppBundle::macros.html.twig" as macros %}
<div class="card-props">
{% if card.type_code == 'asset' or card.type_code == 'event' %}
	Cost: {{ macros.integer_or_x(card.cost) }}.
{% endif %}
</div>

{% if card.type_code == 'investigator' %}
<div class="card-props">
	Will: {{ macros.integer_or_x(card.will) }}.
	Lore: {{ macros.integer_or_x(card.lore) }}.
	Strength: {{ macros.integer_or_x(card.strength) }}.
	Agility: {{ macros.integer_or_x(card.agility) }}.
</div>
{% endif %}
{% if card.health or card.sanity%}
	Health: {{ macros.integer_or_x(card.health) }}.
	Sanity: {{ macros.integer_or_x(card.sanity) }}.
{% endif %}

