{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-md-9">
        <div class="row">
{% for i in 0..cards|length-1 %}{% set card = cards[i] %}
        	<div class="col-sm-7" style="margin-bottom:2em">
        		<div>
        			<div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title card-name">
        						<a href="{{ card.url }}" class="card-name{% if card.available == false %} card-preview{% endif %}">{{ card.name }}</a>
        					</h3>
        	  			</div>
        				<div class="panel-body">
        					<div class="card-info">
        						<span class="card-type">{{ card.type_name }}. </span><span class="card-traits">{{ card.traits }}</span>
        					</div>
        					<div class="card-text">
        						{{ card.text|raw }}
        					</div>
        					<div class="card-flavor">
        						<small>{{ card.flavor|raw|nl2br }}</small>
        					</div>
        					<div class="card-illustrator">
        						<small>
        						{{ card.faction_name }} &bull;
        						{% if card.illustrator %}{{ card.illustrator }} &bull; {% endif %}{{ card.pack_name }} #{{ card.position }}
        						</small>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-sm-5" style="margin-bottom:2em">
        		<div class="card-image">
        			{% if card.imagesrc %}
        			   <img src="{{ card.imagesrc }}" alt="{{ card.name }}" class="img-responsive" style="margin:auto">
        			{% else %}
        			   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
        			{% endif %}
        		</div>
        	</div>
{% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        {% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}
    </div>
</div>

{% endblock %}

