{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-md-9">
        <div class="row">
{% for i in 0..cards|length-1 %}{% set card = cards[i] %}
        	<div class="col-sm-7" style="margin-bottom:2em">
        		<div>
        			<div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">
        						{% include 'AppBundle:Search:card-name.html.twig' %}
        					</h3>
        	  			</div>
        				<div class="panel-body card-content">
        					{% include 'AppBundle:Search:card-info.html.twig' %}
        					{% include 'AppBundle:Search:card-text.html.twig' %}
        					{% include 'AppBundle:Search:card-flavor.html.twig' %}
        					{% include 'AppBundle:Search:card-illustrator.html.twig' %}
							{% include 'AppBundle:Search:card-pack-faction.html.twig' %}
        				</div>
        			</div>
        			Links: <a href="{{ path('decklists_list',{type:'find','cards[]':card.code}) }}">Decklists</a>
        		</div>
        	</div>
        	<div class="col-sm-5">
        		<div>
        			{% if card.imagesrc %}
        			   <img src="{{ card.imagesrc }}" class="img-responsive" style="margin:auto">
        			{% else %}
        			   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
        			{% endif %}
        		</div>
        	</div>
        	{% if card.available == true %}
        	<div class="col-md-12" style="margin-top:2em">
        	   <div style="line-height:34px" id="reviews-header">
            	   <span style="font-size:24px">Reviews</span>
        	   </div>
        	   <form method="POST" action="{{ path('card_review_post') }}" style="clear:right" id="review-edit-form">
            	   <input type="hidden" name="card_id" value="{{ card.id }}">
            	   <input type="hidden" name="review_id" value="">
               </form>
        	   {% if card.reviews|length %}
        	   {% for review in card.reviews %}
        	   <article class="review" data-code="{{ review.id }}" id="review-{{ review.id }}">

        	       <div class="review-like">
        	           <a id="review-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
                    	   <span class="fa fa-heart"></span> <span class="num">{{ review.nb_votes }}</span>
                	   </a>
        	       </div>
        	       <div class="review-content">
        	       <div class="review-text">
                	   {{ review.text|raw }}
            	   </div>
            	   <div class="review-date">
            	       <time datetime="{{ review.date_creation|date('c') }}" title="{{ review.date_creation|date('F jS, Y') }}">{{ review.date_creation|date('n/j/y') }}</time>
            	   </div>
            	   <div class="review-author">
            	       <a href="{{ path('user_profile_public', {user_id:review.author_id,user_name:review.author_name|e('url')}) }}" rel="author" class="username {{ review.author_color }}">{{ review.author_name }}</a>
            	       {% if review.author_donation > 0 %}<span class="fa fa-gift donator" title="ThronesDB Gracious Donator"></span>{% endif %}
                	   <small class="reputation">{{ review.author_reputation }}</small>
            	   </div>

            	   {% if review.comments|length %}

            	   {% for comment in review.comments %}
            	   <div class="review-comment text-muted small">{{ comment.text }}
            	   &mdash;
            	   <a title="{{ comment.author.reputation }} reputation" href="{{ path('user_profile_public', {user_id:comment.author.id,user_name:comment.author.username|e('url')}) }}" rel="author" class="username {{ comment.author.faction }}">{{ comment.author.username }}</a>
            	       {% if comment.author.donation > 0 %}<span class="fa fa-gift donator" title="ThronesDB Gracious Donator"></span>{% endif %}
               	   <time datetime="{{ comment.date_creation|date('c') }}" title="{{ comment.date_creation|date('F jS, Y') }}">{{ comment.date_creation|date('n/j/y') }}</time>
                </div>
            	   {% endfor %}

            	   {% endif %}
            	   <form action="{{ path('card_reviewcomment_post') }}" method="POST" class="form-comment">
            	   <input type="hidden" name="comment_review_id" value="{{ review.id }}">
            	   <button class="btn btn-link btn-write-comment">Add a comment</button  >
            	   </form>
            	   </div>
        	   </article>
        	   {% endfor %}
        	   {% else %}
        	   <p><i>No review yet for this card.</i></p>
        	   {% endif %}
           </div>
           {% else %}
           <div class="col-md-12" style="margin-top:2em">
               <p class="text-muted">Reviews will be enabled for this card when it is officially released.</p>
           </div>
           {% endif %}
{% endfor %}
        </div>
    </div>
   	<div class="col-md-3">
   	    {% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}
	</div>
</div>

{% endblock %}
