{% extends 'AppBundle:Search:display.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.card.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.user.params.card_id = {{ cards[0].id }};
	</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-9">
        <div class="row">
{% for card in cards %}
        	<div class="col-sm-7" style="margin-bottom:2em">
        		<div>
        			<div class="panel panel-default border-{{ card.faction_code }}">
        				<div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }}">
        					<h3 class="panel-title">
        						{% include 'AppBundle:Search:card-name-with-link.html.twig' %}
        					</h3>
        	  		</div>
        				<div class="panel-body card-content">
        					{% include 'AppBundle:Search:card-faction.html.twig' %}
        					{% include 'AppBundle:Search:card-info.html.twig' %}
        					{% if card.type_code == 'agenda' or card.type_code == 'act' %}
        					{% include 'AppBundle:Search:card-flavor.html.twig' %}
        					{% include 'AppBundle:Search:card-text.html.twig' %}
        					{% else %}
        					{% include 'AppBundle:Search:card-text.html.twig' %}
        					{% include 'AppBundle:Search:card-flavor.html.twig' %}
        					{% endif %}
        					{% include 'AppBundle:Search:card-illustrator.html.twig' %}
									{% include 'AppBundle:Search:card-pack.html.twig' %}
        				</div>
        				{% if card.back_name %}
        				<div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }}">
        					<h3 class="panel-title">
        						{{card.back_name}}
        					</h3>
        	  		</div>
        	  		{% endif %}
								{% if card.back_flavor or card.back_text %}
        	  		<div class="panel-body card-content">
        	  			{% if card.type_code == 'agenda' or card.type_code == 'act' %}	
	        					{% if card.back_flavor %}
	        					<div class="card-flavor small">
										{{ card.back_flavor|raw|nl2br }}
										</div>
										{% endif %}
	        					{% if card.back_text %}
	        					<div class="card-text border-{{ card.faction_code }}">
										{{ card.back_text|raw }}
										</div>
										{% endif %}
        					{% else %}
	        					{% if card.back_text %}
	        					<div class="card-text border-{{ card.faction_code }}">
										{{ card.back_text|raw }}
										</div>
										{% endif %}
										{% if card.back_flavor %}
	        					<div class="card-flavor small">
										{{ card.back_flavor|raw|nl2br }}
										</div>
										{% endif %}
        					{% endif %}
        	  		</div>
        	  		{% endif %}
        			</div>
        		</div>
        	</div>
        	<div class="col-sm-5" style="margin-bottom:2em">
        		<div>
        			{% if card.imagesrc %}
        			   <img src="{{ card.imagesrc }}" alt="{{ card.name }}" class="img-responsive" style="margin:auto">
        			{% else %}
        			   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
        			{% endif %}
        			{% if card.backimagesrc %}
        			   <img src="{{ card.backimagesrc }}" alt="{{ card.name }}" class="img-responsive" style="margin:auto">
        			{% endif %}
        		</div>
        	</div>
        {% if includeReviews %}
   	    	{% include 'AppBundle:Search:display-card-reviews.html.twig' %}
        {% endif %}
{% endfor %}
        </div>
    </div>
</div>

{% endblock %}

