{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
<th>Name</th>
<th>Faction</th>
<th>Cost</th>
<th>Type</th>
<th>STR</th>
<th>Traits</th>
<th>Set</th>
</tr>
</thead>
{% for i in 0..cards|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
   {% set card = cards[i] %}
	<td data-th="Name">
        <span class="icon icon-{{ card.type_code}} fg-{{ card.faction_code }}"></span>
		<a href="{{ card.url }}" class="card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">{{ card.name }}</a>
	</td>
	<td data-th="Faction">{{ card.faction_name }}</td>
	<td data-th="Cost">{{ card.cost }}</td>
	<td data-th="Type" >{{ card.type_name }}</td>
	<td data-th="STR">{{ card.strength }}</td>
	<td data-th="Traits">{{ card.traits }}</td>
	<td data-th="Set">{{ card.pack_name }} {{ card.position }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
