{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
<th>Name</th>
<th>Class</th>
<th>Cost</th>
<th>Type</th>
<th>Stats / Icons</th>
<th>Traits</th>
<th>Set</th>
</tr>
</thead>
{% for i in 0..cards|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
   {% set card = cards[i] %}
	<td data-th="Name">
		<span class="icon icon-{{ card.type_code}} fg-{{ card.faction_code }}"></span>
		<a href="{{ card.url }}" class="card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">
		{{ card.name }}</a>
		{% if card.xp %}<span class="xp-{{ card.xp }}"> ({{ card.xp }})</span>{% endif %}
	</td>
	<td data-th="Faction" class="fg-{{ card.faction_code }}">{{ card.faction_name }}</td>
	<td data-th="Cost">{{ card.cost }}</td>
	<td data-th="Type" >{{ card.type_name }}</td>
	<td data-th="Stats">
	{% if card.type_code == "investigator" %}
	{% if card.will %}<span title="Will" class="icon icon-will color-will"></span>{{ card.will }}{% endif %}
	{% if card.lore %}<span title="Lore" class="icon icon-lore color-lore"></span>{{ card.lore }}{% endif %}
	{% if card.strength %}<span title="Strength" class="icon icon-strength color-strength"></span>{{ card.strength }}{% endif %}
	{% if card.agility %}<span title="Agility" class="icon icon-agility color-agility"></span>{{ card.agility }}{% endif %}
	{% elseif card.type_code == "enemy" %}
	{% if card.enemy_fight %}<span title="Combat" class="icon icon-strength color-strength"></span>{{ card.enemy_fight }}{% endif %}
	{% if card.health %}<span title="Health" class="icon icon-health color-health"></span>Health:{{ card.health }}{% endif %}
	{% if card.enemy_evade %}<span title="Agility" class="icon icon-agility color-agility"></span>{{ card.enemy_evade }}{% endif %}
	{% elseif card.type_code == "location" %}
	{% if card.shroud %}<span title="Shroud" class="icon icon-shroud color-shroud"></span>Shroud: {{ card.shroud }}{% endif %}
	{% if card.clues %}<span title="Clues" class="icon icon-clues color-clues"></span>Clues: {{ card.clues }}{% endif %}	
	{% elseif card.type_code == "agenda" %}
	{% if card.doom %}<span title="Doom" class="icon icon-doom color-doom"></span>Doom: {{ card.doom }}{% endif %}
	{% elseif card.type_code == "act" %}
	{% if card.clues %}<span title="Clues" class="icon icon-clues color-clues"></span>Clues: {{ card.clues }}{% endif %}	
	{% else %}
	{% if card.will %}{% for i in 1..card.will %}<span title="Will" class="icon icon-will color-will"></span>{% endfor %}{% endif %}
	{% if card.lore %}{% for i in 1..card.lore %}<span title="Lore" class="icon icon-lore color-lore"></span>{% endfor %}{% endif %}
	{% if card.strength %}{% for i in 1..card.strength %}<span title="Strength" class="icon icon-strength color-strength"></span>{% endfor %}{% endif %}
	{% if card.agility %}{% for i in 1..card.agility %}<span title="Agility" class="icon icon-agility color-agility"></span>{% endfor %}{% endif %}
	{% if card.wild %}{% for i in 1..card.wild %}<span title="Wild" class="icon icon-wild color-wild"></span>{% endfor %}{% endif %}
	{% endif %}
	</td>
	<td data-th="Traits">{{ card.traits }}</td>
	<td data-th="Set">{{ card.pack_name }} {{ card.position }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
