{% import "AppBundle::macros.html.twig" as macros %}

<div>
	<h3 id="question-header">
		Questions/Comments
	</h3>
	<form method="POST" action="{{ path('card_review_post') }}" style="clear:right" id="question-edit-form">
		<input type="hidden" name="card_id" value="{{ card.id }}">
		<input type="hidden" name="review_id" value="">
	</form>
	{% if card.questions is defined and card.questions|length %}
		{% for review in card.questions %}
		<article class="review" data-id="{{ review.id }}" id="review-{{ review.id }}">
			<div class="review-like">
				<a id="review-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
					<span class="fa fa-heart"></span> <span class="num">{{ review.nbVotes }}</span>
				</a>
			</div>
			<div class="review-content">
				<div class="review-text">
					{{ review.textHtml|raw }}
				</div>
				<div class="review-date">
					<time datetime="{{ review.dateCreation|date('c') }}" title="{{ review.dateCreation|date('F jS, Y') }}">{{ review.dateCreation|date('n/j/y') }}</time>
				</div>
				<div class="review-author">
					<span class="username">{{ macros.username(review.user) }}</span>
				</div>
				{% for comment in review.comments %}
				<div class="review-comment text-muted small">{{ comment.text|raw }}
					&mdash;
					<span class="username">{{ macros.username(comment.user) }}</span>
					<time datetime="{{ comment.dateCreation|date('c') }}" title="{{ comment.dateCreation|date('F jS, Y') }}">{{ comment.dateCreation|date('n/j/y') }}</time>
				</div>
				{% endfor %}
				<form action="{{ path('card_reviewcomment_post') }}" method="POST" class="form-comment">
					<input type="hidden" name="comment_review_id" value="{{ review.id }}">
					<button class="btn btn-link btn-write-comment">Add a comment</button>
				</form>
			</div>
		</article>
		{% endfor %}
	{% else %}
	<p><i>No questions or comments yet</i></p>
	{% endif %}
</div>

