{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="main white container">

<div class="row">

<div class="col-md-4">
	<h2>Browse by set</h2>
	{{ allsets | raw }}
</div>

<div class="col-md-8">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>Name and texts</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">Name</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
		<div class="form-group">
			<label for="x">Text</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
    <div class="col-sm-6">
		<div class="form-group">
			<label for="a">Flavor Text</label>
			<div>
				<input class="form-control" size="30" id="a" name="a" value="">
			</div>
		</div>
	</div>
</div>
</fieldset>
<fieldset>
<legend>Class</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			{% for faction in factions %}
				<label class="btn btn-default active" title="{{ faction.name }}" data-toggle="tooltip" data-container="body">
					<input type="checkbox" name="f[]" checked value="{{ faction.code }}">
					<span class="icon icon-{{ faction.code }}"></span>{{ faction.name }}
				</label>
			{% endfor %}
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Attributes</legend>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="t">Type</label>
			<div>
				<select class="form-control" name="t" id="t">
					<option value="">any</option>
					{% for type in types %}
					<option value="{{ type.code }}">{{ type.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
        <div class="form-group">
			<label for="b">SubType</label>
			<div>
				<select class="form-control" name="b" id="b">
					<option value="">any</option>
					{% for subtype in subtypes %}
					<option value="{{ subtype.code }}">{{ subtype.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="k">Traits</label>
			<div>
				<select class="form-control" name="k" id="k">
					<option value="">any</option>
					{% for trait in traits %}
					<option value="{{ trait }}">{{ trait }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="z">Slot</label>
			<div>
				<select class="form-control" name="z" id="z">
					<option value="">any</option>
					<option value="hand">One Handed</option>
					<option value="hand x2">Two Handed</option>
					<option value="accessory">Accessory</option>
					<option value="ally">Ally</option>
					<option value="arcane">One Arcane</option>
					<option value="arcane x2">Two Arcane</option>
					<option value="body">Body</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="e">Set</label>
			<div>
				<select class="form-control" name="e" id="e">
					<option value="">any</option>
					{% for pack in packs %}
					<option value="{{ pack.code }}">{{ pack.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="u">Unique</label>
			<div>
				<select class="form-control" name="u" id="u">
					<option value="">any</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
    </div>
</div>

</fieldset>
<fieldset>
<legend>Numerics</legend>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
			<label for="o">Cost</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="o" name="o" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>

		<div class="col-sm-3">
			<div class="form-group">
				<label for="p">XP</label>
				<div class="row">
					<div class="col-xs-5">
						<select name="po" id="po" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
					</div>
					<div class="col-xs-7">
						<input id="p" name="p" value="" class="form-control">
					</div>
				</div>
			</div>
    </div>
    
    <div class="col-sm-3">
			<div class="form-group">
				<label for="j">{% trans %}Victory{% endtrans %}</label>
				<div class="row">
					<div class="col-xs-5">
						<select name="jo" id="jo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
					</div>
					<div class="col-xs-7">
						<input id="j" name="j" value="" class="form-control">
					</div>
				</div>
			</div>
    </div>
    
    <div class="col-sm-3">
			<div class="form-group">
				<label for="y">Quantity</label>
				<div class="row">
					<div class="col-xs-5">
						<select name="yo" id="yo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
					</div>
					<div class="col-xs-7">
					<input id="qt" name="qt" value="" class="form-control">
					</div>
				</div>
			</div>
		</div>
</div>

<div class="row">
		<div class="col-sm-3">
        <div class="form-group">
			<label for="w"><span class="icon-willpower"></span> Willpower</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="wo" id="wo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="w" name="w" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
			<label for="s"><span class="icon-combat"></span> Combat</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="co" id="co" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="c" name="c" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
		<div class="col-sm-3">
        <div class="form-group">
			<label for="l"><span class="icon-intellect"></span> Intellect</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="io" id="io" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="i" name="i" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
			<label for="a"><span class="icon-agility"></span> Agility</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="ao" id="ao" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="a" name="a" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>

<div class="row">
		<div class="col-sm-3">
        <div class="form-group">
			<label for="w"><span class="icon-health"></span> Health</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="ho" id="ho" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="h" name="h" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
			<label for="s"><span class="icon-sanity"></span> Sanity</label>
			<div class="row">
                <div class="col-xs-5">
                    <select name="so" id="so" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-7">
                    <input id="s" name="s" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
		
</div>

</fieldset>

<fieldset>
<legend>Encounter Cards</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="m">Encounter Set</label>
			<div>
				<select class="form-control" name="m" id="m"><option value="">any</option>{% for encounter in encounters %}<option value="{{ encounter.code }}">{{ encounter.name }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>


<fieldset>
<legend>Other</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="l">Illustrator</label>
			<div>
				<select class="form-control" name="l" id="l"><option value="">any</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Submit</legend>
<div class="row">
    <div class="form-inline">
       {% include 'AppBundle:Search:searchoptions.html.twig' %}
       <button class="btn btn-primary form-control" type="submit">Search</button>
    </div>
</div>
</fieldset>
</form>


</div>

</div>

</div>
{% endblock %}
