{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="main white container">

<div class="row">

<div class="col-md-12">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>Name and texts</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">Name</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
		<div class="form-group">
			<label for="x">Text</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
    <div class="col-sm-6">
		<div class="form-group">
			<label for="a">Flavor Text</label>
			<div>
				<input class="form-control" size="30" id="a" name="a" value="">
			</div>
		</div>
	</div>
</div>
</fieldset>
<fieldset>
<legend>Faction</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			{% for faction in factions %}
				<label class="btn btn-default active" title="{{ faction.name }}" data-toggle="tooltip" data-container="body">
					<input type="checkbox" name="f[]" checked value="{{ faction.code }}">
					<span class="icon icon-{{ faction.code }}"></span>
				</label>
			{% endfor %}
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Attributes</legend>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="e">Set</label>
			<div>
				<select class="form-control" name="e" id="e">
					<option value="">any</option>
					{% for pack in packs %}
					<option value="{{ pack.code }}">{{ pack.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="l">Loyal</label>
			<div>
				<select class="form-control" name="l" id="l">
					<option value="">any</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="m">Military</label>
			<div>
				<select class="form-control" name="m" id="m">
					<option value="">any</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="t">Type</label>
			<div>
				<select class="form-control" name="t" id="t">
					<option value="">any</option>
					{% for type in types %}
					<option value="{{ type.code }}">{{ type.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="g">Intrigue</label>
			<div>
				<select class="form-control" name="g" id="g">
					<option value="">any</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="k">Traits</label>
			<div>
				<select class="form-control" name="k" id="k">
					<option value="">any</option>
					{% for trait in traits %}
					<option value="{{ trait }}">{{ trait }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="u">Unique</label>
			<div>
				<select class="form-control" name="u" id="u">
					<option value="">any</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="p">Power</label>
			<div>
				<select class="form-control" name="p" id="p">
					<option value="">any</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Numerics</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="o">Cost</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="o" name="o" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="n">Income</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="no" id="no" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="n" name="n" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="s">Strength</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="so" id="so" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="s" name="s" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="v">Initiative</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="vo" id="vo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="v" name="v" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="y">Quantity</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="yo" id="yo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="y" name="y" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="b">Claim</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="bo" id="bo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="b" name="b" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="h">Reserve</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="ho" id="ho" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="h" name="h" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Other</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label>Previews</label>
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default active"><input type="radio" name="r" checked value="">Yes</label>
				<label class="btn btn-default"><input type="radio" name="r" value="<now">No</label>
				<label class="btn btn-default"><input type="radio" name="r" value=">now">Only</label>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="i">Illustrator</label>
			<div>
				<select class="form-control" name="i" id="i"><option value="">any</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Submit</legend>
<div class="row">
    <div class="form-group">
       {% include 'AppBundle:Search:searchoptions.html.twig' %}
       <div class="col-sm-4">
	      <button class="btn btn-primary" type="submit">Search</button>
       </div>
    </div>
</div>
</fieldset>
</form>

{% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}

</div>

</div>

</div>
{% endblock %}
