{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decklist_search.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
<div class="main white container">
	<div class="row">
		<div class="col-sm-3">

			<ul class="nav nav-pills nav-stacked">
				{% set linkurl = path('decklists_list', {type:'popular'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Popular</a></li> {% set linkurl =
				path('decklists_list', {type:'recent'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Recent</a></li> {% set linkurl =
				path('decklists_list', {type:'hottopics'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Hot topics</a></li> {% set linkurl =
				path('decklists_list', {type:'halloffame'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Hall of Fame</a></li> {% if app.user %} {% set
				linkurl = path('decklists_list', {type:'favorites'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">My favorites</a></li> {% set linkurl =
				path('decklists_list', {type:'mine'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">My decklists</a></li> {% endif %} {% set
				linkurl = path('decklists_searchform') %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}"><span class="fa fa-search"></span>
						Search</a></li>
			</ul>

		</div>

		<div class="col-sm-9">

		<h1>Decklist Search</h1>
		{{ form|raw }}

		</div>
	</div>
</div>

{% endblock %}
