{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Tournament list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_tournament_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                        <a href="{{ path('admin_tournament_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm">show</a>
                        <a href="{{ path('admin_tournament_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('admin_tournament_new') }}" class="btn btn-default">
                Create a new entry
            </a>
{% endblock %}
