{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Tournament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('admin_tournament') }}" class="btn btn-default">
            Back to the list
        </a>
        <a href="{{ path('admin_tournament_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>
        <form action="{{ path('admin_tournament_delete', { 'id': entity.id }) }}" method="post" style="display:inline-block">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
{% endblock %}
