<!DOCTYPE html>
<html>
  <head>
    <title>{{ pagetitle|default('Deckbuilder') }} &middot; agot2db</title>
    <link rel="icon" sizes="16x16" href="/favicon.png" />
    <link rel="icon" sizes="196x196" href="/icon.png" />
    <link rel="apple-touch-icon" sizes="129x129" href="/apple-touch-icon.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    {% if pagedescription is defined %}<meta name="description" content="{{ pagedescription }}">{% endif %}

    <link href="{{ asset('/bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Amiri:400italic,700italic,400,700|Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.css">
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/icons.css') }}">
	{% block stylesheets %}{% endblock %}
  </head>
  <body>
  <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
          {% block navbar %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('index') }}">
            <span class="icon icon-link-half-top"></span>
            <span class="icon icon-link-half-bottom"></span>
            agot2db
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('decks_list') }}">My Decks</a></li>
            <li><a href="{{ path('decklists_list', {type:'popular'}) }}">Decklists</a></li>
            <li class="hidden-sm dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cards <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('cards_search') }}">Advanced Search</a></li>
                <li class="divider"></li>
              {% for line in cards_data.allsetsdata() %}
                <li><a href="{{ line['url'] }}">{{ line['label'] }}</a></li>
              {% endfor %}
              </ul>
            </li>
            <li class="hidden-sm dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Factions <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              {% for faction in cards_data.getPrimaryFactions() %}
                <li><a href="{{ path('faction_page',{faction_code:faction.code}) }}"><span class="icon icon-{{ faction.code }} color-{{ faction.code }}"></span> {{ faction.name }}</a></li>
              {% endfor %}
              </ul>
            </li>
            <li class="hidden-sm"><a href="{{ path('card_reviews_list') }}">Reviews</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs hidden-lg">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-search"></span></a>
                <div class="dropdown-menu">
                  <form action="{{ path('cards_find') }}" target="_blank">
                    <input type="text" placeholder="Card Search" class="form-control" name="q">
                  </form>
              </div>
            </li>
            <li id="login">
                <a href="#" class="dropdown-toggle loginname" data-toggle="dropdown"><span class="fa fa-user"></span><b class="caret"></b></a>
            </li>
          </ul>
          <form class="navbar-form navbar-right visible-lg-block visible-xs-block external" action="{{ path('cards_find') }}" target="_blank">
            <div class="form-group">
              <input type="text" placeholder="Card Search" class="form-control" name="q">
            </div>
          </form>
        </div><!--/.navbar-collapse -->
        {% endblock %}
      </div>
    </nav>

{% block body %}{% endblock %}
    <div id="push"></div>
  </div>
  <footer class="hidden-print">
    <div class="container">

{% block footer %}
<div class="row">
    <div class="col-xs-12">

    <ul class="list-inline">
    <li><a href="{{ path('about') }}">About</a></li>
    <li><a href="{{ path('apidoc') }}">API</a></li>
    <li><a href="{{ path('donators') }}">Donators</a> <span class="fa fa-gift donator" title="The Gracious Donator"></span></li>
    </ul>

    <p>
    Designed and built by <a href="//twitter.com/alsciende">@alsciende</a>
    </p>

    <p>
    Bug reports and Feature Requests on <a href="https://github.com/Alsciende/agot2db/issues">GitHub</a>
    </p>

    <p>
    Contribute by giving money on <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=4SB7QHB5XRN7Y">Paypal (€)</a> or <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=HHBUW2QYG6ZUC">Paypal ($)</a> or directly to <i>alsciende</i> (at) <i>icloud.com</i>.
    </p>

    <p>
    The information presented on this site about A Game of Thrones: The Card Game Second Edition, both literal and graphical, is copyrighted by Fantasy Flight Games.
    This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games.
    </p>

    </div>
</div>
{% endblock %}

    </div>
    </footer>
    
	<!--  card modal -->    
	<div class="modal" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title card-name">Modal title</h3>
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="btn-group modal-qty" data-toggle="buttons"></div>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6 modal-image"></div>
						<div class="col-sm-6 modal-info"></div>
					</div>
				</div>
				<div class="modal-footer">
					<a role="button" href="#" class="btn btn-default card-modal-link">Go to card page</a>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--  /cardModal -->
	
    <script src="{{ asset('/bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.9/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/0.2.2/jquery.textcomplete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
    <script type="text/javascript">
	var app = {};
	moment.locale(window.navigator.language);
    </script>

	{% if app.environment == 'prod' %}
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		{% include 'AppBundle::google-analytics.html.twig' %}
	{% endif %}

	{% javascripts
		'@AppBundle/Resources/public/js/bootstrap.min.js'
		'@AppBundle/Resources/public/js/forerunnerdb.min.js'
		'@AppBundle/Resources/public/js/moment-timezone-with-data-2010-2020.min.js'
		'@AppBundle/Resources/public/js/app.data.js'
		'@AppBundle/Resources/public/js/app.format.js'
		'@AppBundle/Resources/public/js/app.tip.js'
		'@AppBundle/Resources/public/js/app.card_modal.js'
		'@AppBundle/Resources/public/js/app.user.js'
		'@AppBundle/Resources/public/js/app.ui.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	{% block javascripts %}{% endblock %}
    </body>
</html>
