{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Faction</th>
                <td>{{ entity.faction.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type.name }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Traits</th>
                <td>{{ entity.traits }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('/bundles/cards/' ~ entity.code ~ '.png') }}"></td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('admin_card') }}" class="btn btn-default">
            Back to the list
        </a>
        <a href="{{ path('admin_card_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>
        <form action="{{ path('admin_card_delete', { 'id': entity.id }) }}" method="post" style="display:inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
{% endblock %}
