{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Cycle list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Position</th>
                <th>Size</th>
                <th>Creation</th>
                <th>Update</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_cycle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.size }}</td>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateUpdate %}{{ entity.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                        <a href="{{ path('admin_cycle_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm">show</a>
                        <a href="{{ path('admin_cycle_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('admin_cycle_new') }}" class="btn btn-default">
                Create a new entry
            </a>
{% endblock %}
