{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decklist.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	var Commenters = {{ commenters|json_encode|raw }};
	app.deck.json = {{ arrayexport|json_encode|raw }};
	app.user.params.decklist_id = {{ decklist.id }};
	</script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row title bg-faction bg-{{ decklist.faction.code }}">
		<div class="col-xs-12">
			<h1 class="decklist-name text-center">
				<span class="icon icon-{{ decklist.faction.code }}"></span>
				{{ decklist.name }}
			</h1>
		</div>
		<div class="col-xs-12">
			{% include 'AppBundle:Decklist:social-buttons.html.twig' %}
		</div>
	</div>
</div>

<div class="main white container">
	<div class="row">
		<div class="col-md-6">
			<div id="deck-content" style="margin-bottom:10px"></div>
			{% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}
			{% include 'AppBundle:Builder:deck-charts.html.twig' %}
			{% include 'AppBundle:Builder:draw-simulator.html.twig' %}
			{% include 'AppBundle:Decklist:table-predecessor.html.twig' %}
			{% include 'AppBundle:Decklist:table-successor.html.twig' %}
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="pull-right btn-group" role="group">{% include 'AppBundle:Decklist:toolbar.html.twig' %}</div>
				</div>
				<div class="col-md-12">
					{% include 'AppBundle:Decklist:author-and-description.html.twig' %}
				</div>
				<div class="col-md-12">
					{% include 'AppBundle:Decklist:comments.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'AppBundle:Decklist:export-modal.html.twig' %}
{% include 'AppBundle:Decklist:edit-modal.html.twig' %}
{% include 'AppBundle:Decklist:delete-modal.html.twig' %}
{% include 'AppBundle:Decklist:odds-modal.html.twig' %}
{% include 'AppBundle:Decklist:compare-modal.html.twig' %}
{% endblock %}
