{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decklist_search.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
<script type="text/javascript">
$(function () {
	var type = {{ type|json_encode|raw }};
	$('time').each(function (index, element) {
		var datetime = moment($(element).attr('datetime'));
		var formatted;
		switch(type) {
		case 'popular':
		case 'recent':
		case 'hottopics':
			 formatted = datetime.fromNow();
			 break;
		case 'halloffame':
		case 'favorites':
		case 'mine':
		case 'search':
		default:
			formatted = datetime.format('ll');
			 break;
		}
		$(element).html(formatted);
		$(element).attr('title', datetime.format('LLLL'));
	});
});
</script>
{% endblock %}

{% block body %}

<div class="main white container">
<div class="row">
<div class="col-md-3">

<ul class="nav nav-pills nav-stacked" style="margin-bottom:2em">
{% set linkurl = path('decklists_list', {type:'popular'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Popular</a></li>
{% set linkurl = path('decklists_list', {type:'recent'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Recent</a></li>
{% set linkurl = path('decklists_list', {type:'tournament'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Tournaments</a></li>
{% set linkurl = path('decklists_list', {type:'hottopics'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Hot topics</a></li>
{% set linkurl = path('decklists_list', {type:'halloffame'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">Hall of Fame</a></li>
{% set linkurl = path('decklists_list', {type:'favorites'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">My favorites</a></li>
{% set linkurl = path('decklists_list', {type:'mine'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">My decklists</a></li>
{% set linkurl = path('decklists_searchform') %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}"><span class="fa fa-search"></span> Search</a></li>
</ul>

{% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}

</div>

<div class="col-md-9">

{{ header|raw }}

{% include 'AppBundle:Default:pagination.html.twig' %}

<table class="table">
<thead></thead>
<tbody>

{% for decklist in decklists %}

<tr>
<td class="decklist-faction-image hidden-xs">
	<img src="/bundles/app/images/factions/{{ decklist.faction.code }}.png">
	{% if decklist.slots.agenda %}<img src="/bundles/cards/{{ decklist.slots.agenda.code }}.png">{% endif %}
</td>
<td>
    <article>
	<h4>
		<small class="pull-right social">
			<span class="fa fa-heart social-icon-like"></span> {{ decklist.nbVotes }}
			<span class="fa fa-star social-icon-favorite"></span> {{ decklist.nbFavorites }}
			<span class="fa fa-comment social-icon-comment"></span> {{ decklist.nbComments }}
		</small>
		<a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.nameCanonical|e('url') }) }}">{{ decklist.name }}</a>
	</h4>
	<h5>
		<time class="pull-right" datetime="{{ decklist.dateCreation|date('c') }}">{{ decklist.dateCreation|date('M d') }}</time>
		<span class="username">
    		<a href="{{ path('user_profile_public', {user_id:decklist.user.id,user_name:decklist.user.username|e('url')}) }}" class="{{ decklist.user.color }}">{{ decklist.user.username }}</a>
    		{% if decklist.user.donation > 0 %}<span class="fa fa-gift donator" title="ThronesDB Gracious Donator"></span>{% endif %}
    		<small class="reputation">{{ decklist.user.reputation }}</small>
		</span>
        {% if decklist.tournament %}
		<span class="text-success" style="margin-left:1em">
            <span class="fa fa-certificate"></span> {{ decklist.tournament.description }}
        </span>
	    {% endif %}
	</h5>
	</article>
</td>
</tr>
{% endfor %}

</tbody>
</table>

{% include 'AppBundle:Default:pagination.html.twig' %}

</div>

</div>
</div>

{% endblock %}
