{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decklist_edit.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.deck.json = {{ arrayexport|json_encode|raw }};
	</script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row title bg-faction bg-{{ decklist.faction.code }}">
		<div class="col-xs-12">
			<h1 class="decklist-name text-center">
				<span class="icon icon-{{ decklist.faction.code }}"></span>
				{{ decklist.name }}
				<span class="dropdown">
				  <button class="btn dropdown-toggle bg-{{ decklist.faction.code }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="dropdownVersions">
				    {{ decklist.version }}
				    <span class="caret"></span>
				  </button>
				</span>
			</h1>
		</div>
		<div class="col-xs-12">
			<div class="social">
				<div class="pull-right">
					<span class="hidden-xs">published: </span>
					<time datetime="{{ decklist.dateCreation|date('c') }}">{{ decklist.dateCreation|date('M d, Y') }}</time>
					{{ macros.decklist_social_icons(decklist) }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main white container">
	<div class="row">
		<div class="col-md-12">
			{% include 'AppBundle:Decklist:author-and-description.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}
