{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.deckedit.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.deck.json = {{ arrayexport|json_encode|raw }};
	</script>
{% endblock %}

{% block body %}
<div class="main white container">

{% if arrayexport.unsaved %}
<div class="alert alert-danger" role="alert" id="deck-unsaved-alert"><span class="fa fa-exclamation-triangle"></span> This deck has unsaved changes. Please save the deck or cancel the changes before making further edits.</div>
{% endif %}

<div class="row">

<!-- Left-side Column -->
<div class="col-md-6">

<div id="deck" class="deck-loading">
	<i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

{% include 'AppBundle:Builder:table-suggestions.html.twig' %}

<form method="POST" action="{{ path('deck_save') }}" id="save_form" role="form" style="margin-bottom:1em">
	<input type="hidden" id="deck-save-id" name="id" value="{{ deck.id }}">
	<input type="hidden" id="deck-save-as-copy" name="copy" value="0">
	<input type="hidden" id="deck-cancel-edits" name="cancel_edits" value="0">
	<input type="hidden" name="content">
	<input type="hidden" name="description">
	<input type="hidden" name="faction_code" value="{{ deck.faction.code }}">
	<input type="hidden" name="tags">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control decklist-name" name="name" value="{{ deck.name }}">
		</div>
	<button type="submit" class="btn btn-success">Save</button>
{#	<button type="submit" id="btn-save-as-copy" class="btn btn-default">Save as Copy</button> #}
	<button type="submit" id="btn-cancel-edits" class="btn btn-link">Cancel edits</button>
</form>

</div>
<!-- Left-side Column -->

<!-- Right-side Column -->
<div class="col-md-6">
	<div role="tabpanel">
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#tab-pane-build" aria-controls="tab-pane-build" role="tab" data-toggle="tab"><span class="fa fa-puzzle-piece"></span> Build</a></li>
	    <li role="presentation"><a href="#tab-pane-infos" aria-controls="tab-pane-infos" role="tab" data-toggle="tab"><span class="fa fa-pencil-square-o"></span> Notes</a></li>
	    <li role="presentation"><a href="#tab-pane-draw" aria-controls="tab-pane-draw" role="tab" data-toggle="tab"><span class="fa fa-repeat"></span> Test</a></li>
		<li role="presentation"><a href="#tab-pane-charts" aria-controls="tab-pane-charts" role="tab" data-toggle="tab"><span class="fa fa-bar-chart"></span> Charts</a></li>
	    <li role="presentation"><a href="#tab-pane-history" aria-controls="tab-pane-history" role="tab" data-toggle="tab" id="tab-header-history"><span class="fa fa-history"></span> History</a></li>
	   </ul>
	  <div class="tab-content">
	  	<div role="tabpanel" class="tab-pane active" id="tab-pane-build">
	  	{% include 'AppBundle:Builder:tab-pane-build.html.twig' %}
	  	</div>
		<div role="tabpanel" class="tab-pane" id="tab-pane-draw">
		{% include 'AppBundle:Builder:tab-pane-draw.html.twig' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="tab-pane-charts">
		{% include 'AppBundle:Builder:tab-pane-charts.html.twig' %}
		</div>
	    <div role="tabpanel" class="tab-pane" id="tab-pane-infos">
	    {% include 'AppBundle:Builder:tab-pane-infos.html.twig' %}
	    </div>
	    <div role="tabpanel" class="tab-pane" id="tab-pane-history">
	    {% include 'AppBundle:Builder:tab-pane-history.html.twig' %}
	    </div>
	  </div>
	</div>
</div>
<!-- Right-side Column -->

</div><!-- .row -->
</div><!-- .container -->

{% include 'AppBundle:Modale:odds.html.twig' %}

{% endblock %}
