{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('/bundles/app/js/app.card_modal.js') }}"></script>
<script src="{{ asset('/bundles/app/js/app.diff.js') }}"></script>
<script src="{{ asset('/bundles/app/js/decks.js') }}"></script>
<script type="text/javascript">
var Identity = null,
	LastClickedDeck = null,
	SelectedDeck = null,
	Decks = {{ decks|json_encode|raw }},
	DeckDB = TAFFY(Decks),
	Url_FactionImage = '{{  asset('/bundles/app/images/factions/16px/xxx.png') }}',
	DisplaySort = 'type';
	
</script>
{% endblock %}

{% block body %}

<div class="container decks">

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
{% endfor %}

<div class="row">

<!-- Right-side column -->
<div class="col-md-5 col-md-push-7">

<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
	<a href="{{ path('deck_buildform', {side_text:'corp'}) }}" class="btn btn-default btn-sm"{% if cannotcreate %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-plus color-corp"></span> New Corp Deck</a>
	<a href="{{ path('deck_buildform', {side_text:'runner'}) }}" class="btn btn-default btn-sm"{% if cannotcreate %} disabled="disabled"{% endif %}><span class="glyphicon glyphicon-plus color-runner"></span> New Runner Deck</a>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown"{% if cannotcreate %} disabled="disabled"{% endif %}>
			<span class="glyphicon glyphicon-import"></span> Import Deck <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ path('deck_import') }}" id="btn-import-paste">Copy/paste</a></li>
			<li><a href="#" onclick="$('#fileModal').modal('show')" id="btn-import-file">File</a></li>
			<li><a href="#" onclick="$('#meteorModal').modal('show')" id="btn-import-meteor">Meteor Decks</a></li>
		</ul>
	</div>
</div>
</div>

<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
	<div class="btn-group" id="btn-group-selection">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
			<span class="glyphicon glyphicon-briefcase"></span> With Selection <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		    <li class="dropdown-header"><span class="glyphicon glyphicon-transfer"></span> Compare</li>
		    <li><a href="#" id="btn-compare">Compare two or more decks</a></li>
		    <li><a href="#" id="btn-compare-collection">Compare one deck vs the others</a></li>
		    <li class="dropdown-header"><span class="glyphicon glyphicon-tag"></span> Tags</li>
		    <li><a href="#" id="btn-tag-add">Add one or more tags</a></li>
			<li><a href="#" id="btn-tag-remove-one">Remove one or more tags</a></li>
			<li><a href="#" id="btn-tag-remove-all">Clear all tags</a></li>
			<li class="dropdown-header"><span class="glyphicon glyphicon-trash"></span> Delete</li>
			<li><a href="#" id="btn-delete-selected"><span style="color:red" class="glyphicon glyphicon-warning-sign"></span> Delete all decks selected</a></li>
		</ul>
	</div>
	<div class="btn-group" id="btn-group-sort">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
			<span class="glyphicon glyphicon-sort"></span> Sort List <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#" id="btn-sort-update">By date of last update</a></li>
			<li><a href="#" id="btn-sort-creation">By date of creation</a></li>
			<li><a href="#" id="btn-sort-faction">By faction</a></li>
			<li><a href="#" id="btn-sort-identity">By identity</a></li>
			<li><a href="#" id="btn-sort-lastpack">By last datapack</a></li>
			<li><a href="#" id="btn-sort-name">By deck name</a></li>
		</ul>
	</div>
</div>
</div>
 
<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
    <a role="button" class="btn btn-default btn-sm" href="{{ path('decks_download_all') }}">Download all decks</a>
    <button role="button" class="btn btn-default btn-sm" id="decks_upload_all">Upload all decks</button>
</div>
</div>

<div class="row" style="margin-bottom:10px">
<div class="col-md-12" id="tag_toggles" title="Click to switch to this tag. Shift-click to toggle this tag.">
</div>
</div>

</div>
<!-- / Right-side column -->

<!-- Left-side column -->
<div class="col-md-7 col-md-pull-5">

<h1>My private decks <small style="font-size:16px"{% if cannotcreate %} class="text-danger"{% endif %}>({{ nbdecks }}/{{ nbmax }} slots)</small></h1>

<div class="row">
<div class="col-md-12">
<div class="list-group" id="decks" data-sort-type="dateupdate" data-sort-order="1">
{% for deck in decks %}
<a href="#" class="list-group-item deck-list-group-item" id="deck_{{ deck.id }}" data-id="{{ deck.id }}" data-problem="{{ deck.problem }}" data-faction="{{ deck.faction_code }}">
    <div class="deck-list-identity-image hidden-xs" title="{{ deck.identity_name }}" style="background-image:url({{ asset('/bundles/netrunnerdbcards/images/cards/en/'~deck.identity_code~'.png') }})"></div>
    <h4 class="decklist-name">{{ deck.name }}{% if deck.message %} <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{ deck.message }}"></span>{% endif %}</h4>
    <div>
        {% if deck.identity_title %}{{ deck.identity_name }}{% else %}No Identity{% endif %}
    </div><div class="deck-list-tags">
        {% for tag in deck.tags %}<span class="label label-default tag-{{ tag }}">{{ tag }}</span>{% endfor %}
    </div>
</a>
{% endfor %}
</div>

<p><small><kbd>Shift</kbd> to select multiple decks. <kbd>Enter</kbd> to open the last selected deck. <kbd>Esc</kbd> to close it.</small></p>

</div>
</div>

</div>
<!-- / Left-side column -->

</div>
</div><!-- /.container -->

<div id="deck" style="display:none;margin-top:10px">
	
	<!-- Identity and Stats -->
	<div id="influence"></div>
	<div id="agendapoints"></div>
	<div id="cardcount"></div>
	<div id="latestpack"></div>
	<!-- Identity and Stats -->
	
	<!-- Deck Content -->
	<div class="row" id="deck-content" style="margin-bottom:10px">
	</div><!-- /#deck-content -->
	<!-- Deck Content -->
	
	<div id="btn-group-deck">
	<div style="margin-bottom:10px">
		<a role="button" id="btn-view" class="btn btn-info btn-sm" href="#"><span class="glyphicon glyphicon-fullscreen"></span> View</a>
		<a role="button" id="btn-edit" class="btn btn-primary btn-sm" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
		<button type="button" id="btn-publish" disabled="disabled" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-share"></span> Publish</button>
		<button type="button" id="btn-duplicate" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-plus"></span> Duplicate</button>
		<button type="button" id="btn-delete" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
	</div>
	<div style="margin-bottom:10px">
		<button type="button" class="btn btn-default btn-xs" id="btn-download-text">Text file</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-download-octgn">Octgn file</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-bbcode">bbCode</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-markdown">Markdown (Reddit)</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-export-plaintext">plain text</button>
	</div>
	</div>
	<div id="datecreation"></div>
	<div id="dateupdate"></div>
</div><!-- /#deck -->

{% include 'AppBundle:Modale:file.html.twig' %}
{% include 'AppBundle:Modale:delete.html.twig' %}
{% include 'AppBundle:Modale:delete_list.html.twig' %}
{% include 'AppBundle:Modale:publish.html.twig' %}
{% include 'AppBundle:Modale:export.html.twig' %}
{% include 'AppBundle:Modale:odds.html.twig' %}
{% include 'AppBundle:Modale:tag_add.html.twig' %}
{% include 'AppBundle:Modale:tag_remove.html.twig' %}
{% include 'AppBundle:Modale:tag_clear.html.twig' %}
{% include 'AppBundle:Modale:diff.html.twig' %}
{% include 'AppBundle:Modale:archive.html.twig' %}

{% endblock %}
