{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.deckview.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.deck.json = {{ arrayexport|json_encode|raw }};
	</script>
{% endblock %}

{% block body %}
<div class="main white container">

	<div class="row">
	    <div class="col-md-12">
	        <h1 style="border-bottom:1px solid lightgray">{{ deck.name }}</h1>
	        {% if deck.problem %}
	        <div class="alert alert-danger" role="alert">{{ deck_validation_helper.problemLabel(deck.problem) }}</div>
	        {% endif %}
	    </div>
	</div>

	<div class="row">

		<!-- Left-side Column -->
		<div class="col-md-6" id="deck">
		</div><!-- /#deck -->
		<!-- Left-side Column -->

		<!-- Right-side Column -->
		<div class="col-md-6 hidden-print">

			<div style="margin-bottom:20px" id="btn-group-deck">

				{% if is_owner %}
				<div style="margin-bottom:5px">
				{#    <button type="button" id="btn-print" class="btn btn-default"><span class="fa fa-print"></span> Print</button>#}
					<a href="{{ path('deck_edit', {deck_id:deck_id}) }}" class="btn btn-primary"><span class="fa fa-pencil"></span> Edit</a>
					<button type="button" id="btn-publish" disabled="disabled" class="btn btn-success"><span class="fa fa-share"></span> Publish</button>
					<button type="button" id="btn-delete" class="btn btn-danger"><span class="fa fa-trash"></span> Delete</button>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-download"></span> Download <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ path('deck_export_text', {deck_id:deck_id}) }}">Text file</a></li>
							<li><a href="{{ path('deck_export_octgn', {deck_id:deck_id}) }}">Octgn file</a></li>
						</ul>
					</div>
				</div>
				{% endif %}

				{#
				<div>
					<div class="btn-group">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							  Sort
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" id="menu-sort">
									<li><a href="#" id="btn-sort-type"><label><input type="radio" name="sort-order" checked="checked">by Type</label></a></li>
									<li><a href="#" id="btn-sort-position"><label><input type="radio" name="sort-order">by Set</label></a></li>
									<li><a href="#" id="btn-sort-faction"><label><input type="radio" name="sort-order">by Faction</label></a></li>
									<li><a href="#" id="btn-sort-name"><label><input type="radio" name="sort-order">by Name</label></a></li>
							</ul>
						</div>

						<button type="button" id="btn-display-plain" class="btn btn-default">Plain</button>
						<button type="button" id="btn-display-bbcode" class="btn btn-default">bbCode</button>
						<button type="button" id="btn-display-markdown" class="btn btn-default">Markdown</button>
					</div>
				</div>
				#}
			</div>

			<!-- Description -->
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Description</h3>
			  </div>
			  <div class="panel-body" id="description">
			  </div>
			</div>
			<!-- Description -->

			{% include 'AppBundle:Builder:draw-simulator.html.twig' %}

			<!-- Published decklists Table -->
			<table class="table table-condensed" id="table-predecessor">
				<thead>
					<tr><th colspan="4"><span class="fa fa-share"></span> Published versions</th></tr>
				</thead>
				<tbody>
				{% if deck.children|length %}
				{% for decklist in deck.children %}
				{% include 'AppBundle:Default:decklist-table-row.html.twig' %}
				{% endfor %}
				{% else %}
					<tr><td>None.</td></tr>
				{% endif %}
				</tbody>
			</table>
			<!-- Published decklists Table -->

		</div>
		<!-- Right-side Column -->

	</div><!-- .row -->
</div><!-- .container -->

{% include 'AppBundle:Modale:odds.html.twig' %}
{% include 'AppBundle:Modale:delete.html.twig' %}
{% include 'AppBundle:Modale:publish.html.twig' %}
{% include 'AppBundle:Modale:export.html.twig' %}

{% endblock %}
