{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/app.deckinit.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}

<style>
	.investigator-selection {
		display: flex;
		vertical-align: center;
		align-items: center;
		margin-bottom: 5px;
		flex-wrap: wrap;
	}
	.investigator-selection > div {
		padding: 5px;
	}
	.investigator-attributes span {
	}
	h4 {
		padding: 5px;
		margin: 0;
	}
</style>

<div class="main white container">

<form action="{{ path('deck_initbuild') }}" class="form-inline" method="post" enctype="application/x-www-form-urlencoded">
<div>
	<div class="investigator-select">
		<h2>Choose an investigator
		<select class="form-control" id="deck_init_all" onchange="app.deck_init.update_build_init();">
			<option value="your">Your Investigators</option>
			<option value="all">All Investigators</option>
		</select>
		</h2>
		<div>
			<div id="my_inv">
			{% for class, investigators in my_investigators_by_class %}
				<h4 class="faint-{{class|lower}}"> <span class="icon icon-{{class|lower}}"></span> {{class}}</h4>
				<div style="display: flex; flex-wrap: wrap;" class="faint-{{class|lower}}">
				{% for investigator in investigators %}
					{% include 'AppBundle:Builder:initbuild-investigator.html.twig' %}
				{% endfor %}
				</div>
			{% endfor %}
			</div>
			

			<div class="hidden" id="all_inv">
				{% for class, investigators in all_investigators_by_class %}
					<h4 class="faint-{{class|lower}}"> <span class="icon icon-{{class|lower}}"></span> {{class}}</h4>
					<div style="display: flex; flex-wrap: wrap;" class="faint-{{class|lower}}">
					{% for investigator in investigators %}
						{% include 'AppBundle:Builder:initbuild-investigator.html.twig' %}
					{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

</form>

</div>


{% endblock %}
