{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main white container">

<form action="{{ path('deck_initbuild') }}" method="post" enctype="application/x-www-form-urlencoded">
<div class="row">
	<div class="col-md-8 investigator-select">
		<h1>Choose your Investigator</h1>
		<div class="row">
			{% for investigator in investigators %}
			<div class="col-md-4 align-top">
				<label class="thumbnail">					
					<div style="cursor: pointer;"  class="caption text-left" style="white-space:nowrap">
							<span class="deck-list-investigator-image" title="{{ investigator.name }}" style="background-image:url({{ asset('/bundles/app/images/cards/'~investigator.code~'.png') }})"></span>
							<input onchange="update_selection()" style="display : none;" type="radio" name="investigator" value="{{ investigator.code }}"> 							
							{{ investigator.name }}							
					</div>
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary btn-block">Create the deck and start building</button>
	</div>
</div>
</form>

</div>

<script>
	function update_selection(){
		$("input[type=radio]").parent().removeClass("selected");
		$("input[type=radio]:checked").parent().addClass("selected");
	}
</script>

{% endblock %}
