{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="container">

<form action="{{ path('deck_initbuild') }}" method="post" enctype="application/x-www-form-urlencoded">
<div class="row">
	<div class="col-md-6">
		<h1>Choose your faction</h1>
		<ul class="list-group">
		{% for faction in factions %}
			<li class="list-group-item radio">
				<label>
					<input type="radio" name="faction" value="{{ faction.code }}"> <span class="icon-{{ faction.code }}"></span> {{ faction.name }}
				</label>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="col-md-6">
		<h2>Choose an agenda</h2>
		<ul class="list-group">
			<li class="list-group-item radio">
				<label>
					<input type="radio" name="agenda" value="" checked="checked">
					No agenda
				</label>
			</li>
		{% for agenda in agendas %}
			<li class="list-group-item radio">
				<label>
					<input type="radio" name="agenda" value="{{ agenda.code }}">
					{{ macros.card_name_with_pack_no_link(agenda) }}
				</label>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary btn-block">Create the deck and start building</button>
	</div>
</div>
</form>

</div>

{% endblock %}
