{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main white container">

<form action="{{ path('deck_initbuild') }}" method="post" enctype="application/x-www-form-urlencoded">
<div class="row">
	<div class="col-md-8">
		<h1>Choose your Investigator</h1>
		<div class="row">
			{% for investigator in investigators %}
			<div class="col-md-8">
				<label class="thumbnail">					
					<div class="caption text-left" style="white-space:nowrap">
							<input type="radio" name="investigator" value="{{ investigator.code }}"> 
							<span class="deck-list-investigator-image" title="{{ investigator.name }}" style="background-image:url({{ asset('/bundles/app/images/cards/'~investigator.code~'.png') }})"></span>
							<small>{{ investigator.name }}</small>
					</div>
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary btn-block">Create the deck and start building</button>
	</div>
</div>
</form>

</div>

{% endblock %}
