{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="container">

<div class="row">

<div class="col-sm-8">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Choose your identity</b></div>
  <!-- List group -->
<div class="list-group">
{% for identity in identities %}
<a href="{{ path('deck_initbuild', {card_code:identity.code}) }}" class="list-group-item" data-code="{{ identity.code }}">
	<span class="icon icon-{{ identity.faction.code }} {{ identity.faction.code }}"></span>
	<span>{{ identity.name }}</span> <span class="small">({{ identity.pack.name }})</span>
</a>
{% endfor %}
</div>
</div>
</div>
<div id="initIdentity" class="col-sm-4 hidden-xs">
<img src="#empty" class="img-responsive" id="cardimg" alt="Identity">
</div>

</div>



</div>

{% endblock %}
