<ol>
	{% for cycle in data %}
		<li><a href="{{ cycle.url }}">{{ cycle.name }}</a><span> </span>
		{% if cycle.packs is defined %}
		<ol>
		{% for pack in cycle.packs %}
		<li><a {% if pack.available == false %}class="card-preview" title="Not yet released"{% endif %} href="{{ pack.url }}">{{ pack.name }}</a><span> {% if pack.available == false %}({{pack.known}} cards){% endif %}</span></li>
		{% endfor %}
		</ol>
		{% endif %}
		</li>
	{% endfor %}
</ol>