{% extends 'AppBundle::layout.html.twig' %}

{% block title %}API{% endblock %}

{% block body %}
<div class="main white container">

<h1>{{ block('title') }}</h1>

<p><tt>{{ absolute_url(path('index')) }}</tt> can be queried via an http API.</p>
<p>This API is provided for use in deckbuilders, card databases, tournament managers, and other tools that are a complement to playing {{ game_name }}.</p>
<p>All texts are copyrighted by {{ publisher_name }}.</p>

<h3>Public and OAuth2</h3>

<p>There are two kinds of API endpoints: Public and OAuth2. Public API endpoints are available to everyone, while OAuth2 API endpoints are only available to registered clients (applications). 
If you need such an access, please send me an email describing your project, including the Application Name, the Application Website and a Redirect URI (you can read <a href="https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2#application-registration">this awesome page</a> for more info on OAuth2) and I'll send you credentials.<p>

<h3>Documentation</h3>

The documentation can be found here: <a href="{{ absolute_url(path('nelmio_api_doc_index')) }}">{{ absolute_url(path('nelmio_api_doc_index')) }}</a>.

<h3>Examples</h3>

<a href="{{ path('api_card',{card_code:'01001'}) }}">{{ path('api_card',{card_code:'01001'}) }}</a> returns data for card 01001<br>
<a href="{{ path('api_packs',{jsonp:'parseSets'}) }}">{{ path('api_packs',{jsonp:'parseSets'}) }}</a> returns data for all packs wrapped in a call to parseSets()<br>

<h3>Encoding</h3>

The response is in ascii encoding. Non-ascii characters are encoded with \uXXXX with XXXX their hexadecimal unicode value.<br>

<h3>Caching</h3>

<ul>
<li>Public API responses use both HTTP cache expiration (max-age) and cache validation (last-modified).</li>
<li>OAuth2 API responses use HTTP cache validation (last-modified).</li>
</ul>
<p><b>Please conform to HTTP Caching best practices when building your queries.</b></p>

<h3>CORS</h3>

<ul>
<li>Public API responses include a CORS header: <tt>Access-Control-Allow-Origin:*</tt></li>
</ul>

</div>
{% endblock %}
