{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main container">
<h1 class="site-title hidden-xs">ArkhamDB</h1>
<div class="site-slogan">Deckbuilder and Card Database for the Arkham Horror LCG</div>
</div> <!-- .container -->

<div class="main container">
    <div class="row">
    {% for data in decklists_by_faction %}
    <div class="col-md-6" style="margin-bottom:30px">
        <div class="bg-faction bg-{{ data.faction.code }}" style="padding:10px 10px 5px 10px">
            <div class="media">
              <div class="media-left" style="font-size:30px">
                  <span class="icon icon-{{ data.faction.code }}"></span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading" style="white-space:nowrap"><a href="{{ path('decklist_detail',{decklist_id:data.decklist.id,decklist_name:data.decklist.nameCanonical}) }}">{{ data.decklist.name }}</a></h4>
                  <div class="small">by <span class="username">{{ macros.username_colorless(data.decklist.user) }}</span> &middot; <time datetime="{{ data.decklist.dateCreation|date('c') }}">{{ data.decklist.dateCreation|date('M d, Y') }}</time></div>
              </div>
            </div>
        </div>
        <div style="background-color: white; padding: 10px 20px 20px 20px">
            <div class="small pull-right">
              {{ macros.decklist_social_icons(data.decklist ) }}
            </div>
            <div class="pull-left" style="margin-right : 10px;">
            	<div class="card-thumbnail-static card-thumbnail-2x card-thumbnail-investigator" style="background-image:url(/bundles/cards/{{data.decklist.getCharacter().getCode()}}.png)"></div>
            </div>
            <div class="padding-left : 10px;">
            {% set character = data.decklist.getCharacter() %}
            <h3><a class="card card-tip fg-{{ character.getFaction().getCode() }}" data-code="{{ character.getCode() }}" data-toggle="modal" data-target="#cardModal" data-remote="false" href="">{{data.decklist.getCharacter().getName()}}</a></h3>
            <p>{{ data.count_by_type|raw }}</p>
            <!-- <div class="text-center small"><a href="{{ path('decklists_list',{type:'find',faction:data.faction.code}) }}">More in this faction</a></div>-->
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://thronesdb.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://thronesdb.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
