    <ul id="navbar-factions" class="nav nav-pills nav-justified hidden-xs">
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'anarch'}) }}" class="influence-anarch background-anarch-hover"><span class="icon icon-anarch"></span> <span class="hidden-sm">Anarch</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'criminal'}) }}" class="influence-criminal background-criminal-hover"><span class="icon icon-criminal"></span> <span class="hidden-sm">Criminal</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'shaper'}) }}" class="influence-shaper background-shaper-hover"><span class="icon icon-shaper"></span> <span class="hidden-sm">Shaper</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'haas-bioroid'}) }}" class="influence-haas-bioroid background-haas-bioroid-hover"><span class="icon icon-haas-bioroid"></span> <span class="hidden-sm hidden-md">Haas-Bioroid</span><span class="hidden-sm hidden-lg">HB</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'jinteki'}) }}" class="influence-jinteki background-jinteki-hover"><span class="icon icon-jinteki"></span> <span class="hidden-sm">Jinteki</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'nbn'}) }}" class="influence-nbn background-nbn-hover"><span class="icon icon-nbn"></span> <span class="hidden-sm">NBN</span></a></li>
        <li role="presentation"><a href="{{ path('faction_page',{faction_code:'weyland-consortium'}) }}" class="influence-weyland-consortium background-weyland-consortium-hover"><span class="icon icon-weyland-consortium"></span> <span class="hidden-sm">Weyland</span></a></li>
    </ul>
