<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<deck game="a6d114c7-2e2a-4896-ad8c-0330605c90bf" sleeveid="0">
  <section name="Investigator" shared="False">
    <card qty="1" id="{{ deck.investigator.octgnId }}">{{ deck.investigator.name }}</card>
  </section>
  <section name="Asset" shared="False">
{% for slot in deck.slots_by_type.asset %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Event" shared="False">
{% for slot in deck.slots_by_type.event %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Skill" shared="False">
{% for slot in deck.slots_by_type.skill %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Weakness" shared="False">
{% for slot in deck.slots_by_type.treachery %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
{% for slot in deck.slots_by_type.enemy %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
<notes><![CDATA[]]></notes>
</deck>
