<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<deck game="30c200c9-6c98-49a4-a293-106c06295c05" sleeveid="0">
  <section name="Investigator" shared="False">
    <card qty="1" id="{{ deck.investigator.octgnId }}">{{ deck.investigator.name }}</card>
  </section>
  <section name="Assets" shared="False">
{% for slot in deck.slots_by_type.asset %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Events" shared="False">
{% for slot in deck.slots_by_type.event %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Skills" shared="False">
{% for slot in deck.slots_by_type.skill %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Treachery" shared="False">
{% for slot in deck.slots_by_type.treachery %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
<notes><![CDATA[]]></notes>
</deck>
